<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content" id="ibox-content">
            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Inviting People to Your Team</h2>
                        <p>
                        </p>
                        <a href="#" class="btn btn-sm btn-primary" title="More information for clients and brokers" ng-click="$ctrl.launchTutorialModal('start here')">More info</a>
                        <span class="vertical-date">
                            Start Here<br />
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-sliders"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Getting Started on Creating and Managing Projects</h2>
                        <p>
                        </p>
                        <a href="#" class="btn btn-sm btn-success" title="More information for clients and brokers" ng-click="$ctrl.launchTutorialModal('step 2')">More info</a>
                        <span class="vertical-date">
                            Step 2<br />
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Setting or Confirming Tour Dates</h2>
                        <p>
                        </p>
                        <a href="#" class="btn btn-sm btn-primary" title="More information for brokers" ng-click="$ctrl.launchTutorialModal('step 3')">More info</a>
                        <span class="vertical-date">
                            Step 3<br />
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-pencil-square"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Adding Notes</h2>
                        <p>
                        </p>
                        <a href="#" class="btn btn-sm btn-success" title="More information for clients and brokers" ng-click="$ctrl.launchTutorialModal('step 4')">More info</a>
                        <span class="vertical-date">
                            Step 4<br />
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-stop"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>Finalizing the Proposal</h2>
                        <p>
                        </p>
                        <a href="#" class="btn btn-sm btn-primary" title="More information for clients" ng-click="$ctrl.launchTutorialModal('final step')">More info</a>
                        <span class="vertical-date">
                            Final Step <br />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
